<% function addBanner(data){ %>
    <li class="banner-container">
        <a href="<%=data.url%>" class="banner">
            <strong class="banner-title"><%=data.title%></strong>
            <p class="banner-text">
                <%=data.text%>
            </p>
        </a>
    </li>
<%}%>

<div id="banners">
        <ul class="mod-banners">
            <% addBanner({url:"http://opendata.ugr.es",title:"Portal OpenData UGR",text:"Portal para la publicación y consulta de datos abiertos de la Universidad de Granada"}) %>
            <% addBanner({url:"http://dge.ugr.es/transparencia",title:"Portal de Transparencia de la DGE",text:"Portal dedicado a transparencia y acceso a datos abiertos de la Delegación General de Estudiantes"}) %>
            <% addBanner({url:"http://secretariageneral.ugr.es/bougr/",title:"Boletín UGR",text:"Boletín Oficial de la Universidad de Granada"}) %>
            <% addBanner({url:"http://secretariageneral.ugr.es/pages/memorias/academica/20152016/estadistica/_doc/anexoestadisticocompleto",title:"La UGR en cifras",text:"Documento de resumen estadístico de la Memoria Académica 2015-2016"}) %>
    </ul>
</div>
