<% function addBanner(data){ %>
    <li class="banner_container model-resaltado-02">
        <a href="<%=data.url%>" class="banner">
            <strong><%=data.title%></strong>
            <p class="texto_banner">
                <%=data.text%>
            </p>
        </a>
    </li>
<%}%>

<div id="banners">
    <div class="mod-banners">
        <ul>
            <% addBanner({url:"http://opendata.ugr.es",title:"Portal OpenData UGR",text:"Portal para la publicación y consulta de datos abiertos de la Universidad de Granada"}) %>
            <% addBanner({url:"http://dge.ugr.es/transparencia",title:"Portal de Transparencia de la DGE",text:"Portal dedicado a transparencia y acceso a datos abiertos de la Delegación General de Estudiantes"}) %>
            <% addBanner({url:"http://secretariageneral.ugr.es/bougr/",title:"Boletín UGR",text:"Boletín Oficial de la Universidad de Granada"}) %>
            <% addBanner({url:"http://secretariageneral.ugr.es/pages/memorias/academica/20142015/_doc/resumenestadistica/",title:"La UGR en cifras",text:"Documento con el resumen estadístico de la Memoria Académica 2014-2015 de la Universidad de Granada"}) %>
    </ul>
</div>
</div>
