<div id="banners">
    <div class="mod-banners">
        <ul>
            <li class="banner_container model-resaltado-02 showtext">
                <a href="http://opendata.ugr.es" class="banner">
                    <strong>Portal OpenData UGR</strong>
                    <p class="texto_banner">Portal para la publicación y consulta de datos abiertos de la Universidad de Granada
                    </p>
                </a>
            </li>
            <li class="banner_container model-resaltado-02 showtext">
                <a href="http://dge.ugr.es/transparencia" class="banner">
                    <strong>Portal de Transparencia de la DGE</strong>
                    <p class="texto_banner">Portal dedicado a transparencia y acceso a datos abiertos de la Delegación General de Estudiantes</p>
                </a>
            </li>
            <li class="banner_container model-resaltado-02 showtext">
                <a href="http://secretariageneral.ugr.es/bougr/" class="banner"><strong>Boletín UGR</strong><p class="texto_banner">Boletín Oficial de la Universidad de Granada</p>
                </a>
            </li>
            <li class="banner_container model-resaltado-02 showtext">
                <a href="http://secretariageneral.ugr.es/pages/memorias/academica/20142015/_doc/resumenestadistica/" class="banner"><strong>La UGR en cifras</strong><p class="texto_banner">Documento con el resumen estadístico de la Memoria Académica 2014-2015 de la Universidad de Granada</p>
                </a>
            </li>
        </ul>
    </div>
</div>
