<div id="buscador">
    <h2>Buscador del portal</h2>
    <form action="buscador.html" method="GET" class="mod-buttons">
        <div id="formulario_buscar" class="mod-buttons">
            <div id="buscador-input">
                <label id="buscar" for="sq">
                    <input type="text" name="query" id="sq" placeholder="Búsqueda..." title="Búqueda" class="with_default_value">
                </label>
                <label id="enviar_buscar" for="submit_buscar"><input type="image" src="/./img/transp.gif" alt="iniciar búsqueda" name="submit" id="submit_buscar" title="Enviar búsqueda" class="image-buscar"></label>
            </div>
        </div>
    </form>
</div>
