<div id="buscador-top">
    <h2 class="buscador-title">Buscador del portal</h2>
    <form action="buscador.html" method="GET">
        <div>
            <label class="busqueda-input-label" for="binput">
                <input type="text" name="query" id="binput" class="busqueda-input" placeholder="Búsqueda..." title="Búqueda">
            </label>
            <label class="submit-busqueda-label" for="sbinput"><input type="image" src="/./img/transp.gif" alt="iniciar búsqueda" name="submit" id="sbinput" class="submit-busqueda" title="Enviar búsqueda" class="image-buscar"></label>
        </div>
    </form>
</div>
