<div id="cabecera">
    <h1 class="cabecera_inf">UGR Transparente</h1>
    <a href="http://www.ugr.es" class="enlace_ugr">Universidad de Granada</a>
    <a href="/" class="enlace_stack">UGR Transparente</a>
    <a href="http://www.ugr.es/pages/administracion" class="enlace_eadministracion">Administración electrónica</a>
    <%- include('buscador') %>
</div>
