<div id="cabecera">
    <h1 class="cabecera-inf">UGR Transparente</h1>
    <a href="http://www.ugr.es" class="enlace-ugr">Universidad de Granada</a>
    <a href="/" class="enlace-stack">UGR Transparente</a>
    <a href="http://www.ugr.es/pages/administracion" class="enlace-eadministracion">Administración electrónica</a>
    <%- include('buscador') %>
</div>
