<div id="cabecera">
    <h1 id="cabecera_inf">UGR Transparente</h1>
    <a href="http://www.ugr.es" id="enlace_ugr">Universidad de Granada</a>
    <!-- <span class="separador_enlaces">|</span> -->
    <a href="/" id="enlace_stack">UGR Transparente</a>
    <!-- <span class="separador_enlaces">|</span> -->
    <a href="http://www.ugr.es/pages/administracion" id="enlace_eadministracion">Administración electrónica</a>
    <%- include('buscador') %>
</div>
