    <footer id="pie">
        <a href="http://www.w3.org/WAI/WCAG2AA-Conformance" class="footer-link">
            <img src="/imagenes/wcag2aa.gif" alt="wcag2aa" longdesc="http://www.w3.org/WAI/WCAG2AA-Conformance">
        </a>
        <a href="mapaWeb.html" class="footer-link">Mapa del sitio</a>
        <a href="https://github.com/oslugr/ugr-transparente-servidor" class="footer-link">Este servidor es software libre</a>
        <a href="http://www.gnu.org/licenses/gpl-3.0.html" class="footer-link">Liberado bajo GPL v3.0</a>
        <a href="http://www.ugr.es/pages/contacto" class="footer-link">Contacto</a>
        <a href="https://github.com/oslugr/ugr-transparente-servidor/issues" class="footer-link">Ir a sugerencias</a>
        <p class="ugr-copyright">
            <a href="http://www.ugr.es/pages/creditos">© 2016</a>
            <a href="http://www.ugr.es">
                Universidad de Granada</a>
        </p>
</footer>
