<div id="interior_pie">
    <div id="pie">
        <a id="WAI" href="http://www.w3.org/WAI/WCAG2AA-Conformance">
            <img src="/imagenes/wcag2aa.gif" id="wcag2aa" alt="wcag2aa" longdesc="http://www.w3.org/WAI/WCAG2AA-Conformance">
        </a>
        <a href="mapaWeb.html">Mapa del sitio</a>
        <a href="https://github.com/oslugr/ugr-transparente-servidor">Este servidor es software libre</a>
        <a href="http://www.gnu.org/licenses/gpl-3.0.html">Liberado bajo GPL v3.0</a>
        <a href="http://www.ugr.es/pages/contacto" target="_blank" class="contactar">Contacto</a>
        <a href="https://github.com/oslugr/ugr-transparente-servidor/issues" target="_blank">Ir a sugerencias</a>
        <p>
            <a href="http://www.ugr.es/pages/creditos">© 2016</a>
            <a href="http://www.ugr.es"> Universidad de Granada</a>
        </p>
     	<script src="/script/instantclick.min.js" data-no-instant></script>
        <script data-no-instant>InstantClick.init('mousedown');</script>
    </div>
</div>
