<div id="menus">
    <div id="enlaces_secciones" class="mod-menu_secciones">
        <ul>
            {{{firstLevelItem "Inicio" "/index.html" seccion}}}
            {{{firstLevelItem "Información Institucional" "/infoInstitucional.html" seccion}}}
            {{{firstLevelMenu "Administración" seccion}}}
            <li class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 last-child"><a href="/gobierno.html">Gobierno</a></li>
            
            {{{firstLevelMenuEnd}}}
        </ul>
    </div>
</div>
