// Estilos de la cabecera
@import 'buscador'; //importar estilos del buscador
#cabecera {
    width: 100%;
    height: 245px;
    position: relative;
    background-image: url('/img/general/cabecera.png');
}
.cabecera-inf {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    position: absolute;
    top: 80px;
    left: 0;
    text-indent: -9999em;
    background-image: url('/img/general/banner-lupa.jpg');
    border-color: #FE9900;
}
// Estilos enlaces
.enlace-eadministracion {
    display: block;
    position: absolute;
    top: 44px;
    left: 242px;
    height: 19px;
    padding-top: 2px;
    padding-left: 24px;
    color: #C68106;
    background: url('/img/general/cabecera-eadministracion.png') no-repeat left center;
    :hover {
        color: #E35327;
    }
}
.enlace-ugr {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 62px;
    width: 208px;
    text-indent: -9999em; //'hide' text
}
.enlace-stack {
    display: block;
    position: absolute;
    top: 90px;
    right: 0;
    width: 960px;
    height: 141px;
    text-indent: -9999em; //'hide' text
}
