#general_calendario {
    border-width: 0 0 1px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 772px;
    height: 700px;
    background-position: left center;
    background-repeat: repeat-y;
    border-color: #FFFFFF;
}
#calendar {
    font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 400px;
    left: 200px;
    width: 53%;
    z-index: 10;
}
#calendario {
    float: left;
    margin-bottom: 10px;
    padding-bottom: 30px;
    width: 772px;
    height: 455px;
    background-color: #FFFFFF;
    background-image: url('/img/interior/calendario-fondo.png');
    background-position: left 41px;
    background-repeat: no-repeat;
    #titulo_pagina {
        min-height: 34px;
        padding-left: 62px;
        padding-top: 7px;
        position: relative;
        background-color: #FFFFFF;
        background-image: url('/img/interior/pagina-titulo_principal.png');
        border-bottom-style: solid;
        border-color: #DD3B02;
        color: #FFFFFF;
        font-size: 18px;
        .texto-titulo {
            display: block;
            min-height: 26px;
            width: 772px;
            padding-left: 13px;
            padding-top: 8px;
            background-color: #000000;
            background-image: url('/img/interior/calendario-titulo_principal-h1.png');
            background-position: 0 bottom;
        }
    }
    #contenido {
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
}
