#general {
    border-width: 0 0 1px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 772px;
    background-image: url('/img/general/sombra_izq.png');
    background-position: left center;
    background-repeat: repeat-y;
    border-color: #FFFFFF;
}
#contenedor {
    margin-left: auto;
    margin-right: auto;
    //padding-top: 10px;
    background-repeat: no-repeat;
    font-family: Verdana, sans;
    //font-size: 11px;
    font-size: 0.688em;
    width: 960px;
}
#contenedor_margenes {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
#background-derecho {
    background-image: url('/img/general/sombra_dcha.png');
    background-position: right center;
    background-repeat: repeat-y;
}
