// Fichero principal de compilación sass

@import 'index'; 

@import 'cabecera';
@import 'menu';
@import 'body';
@import 'banners';
@import 'footer';
// estilos legacy
@import 'style';
@import 'style2';



* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
}

/*Style para JavaScript deshabilitado*/

.jsDisabled {
  border: 1px solid red;
  margin: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}



#background-derecho {
  background-image: url("/img/general/sombra_dcha.png");
  background-position: right center;
  background-repeat: repeat-y;
}
