/*Styles para el webmap*/

ul.square_seccion {
  list-style-type: square;
  list-style-position: inside;
  color: #DD3B02;
  padding: 0 0 0 0;
}
ul.square_seccion2 {
  list-style-type: square;
  list-style-position: inside;
  color: #DD3B02;
  padding-left: 50px;
}
ul.square_seccion3 {
  list-style-type: square;
  list-style-position: inside;
  color: #DD3B02;
  padding-left: 70px;
}

.seccion {
  color: #DD3B02;
  FONT-SIZE: 1.3em;
  line-height: 150%;
}
.seccion2 {
  color: #DD3B02;
  FONT-SIZE: 1.2em;
  line-height: 150%;
}
.seccion3 {
  color: #DD3B02;
  FONT-SIZE: 1.1em;
  line-height: 150%;
}
.seccion:hover {
  color: #0F3852;
  text-decoration: none;
}
.seccion2:hover {
  color: #0F3852;
  text-decoration: none;
}
.seccion3:hover {
  color: #0F3852;
  text-decoration: none;
}
