/*Style para el botón del formulario de solicitudes*/

.botonFormulario {
  FONT-SIZE: 15px;
  position: relative;
  top: 15px;
  left: 125px;
  padding: 20px 30px 20px 30px;
  CURSOR: pointer;
  color: #000000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  background-image: url("/img/general/menu-subitem_on.png");
  background-position: center;
}
.botonFormulario:hover {
  color: #0F3852;
}

/*Styles para el webmap*/

ul.square_seccion {
  list-style-type: square;
  list-style-position: inside;
  color: #DD3B02;
  padding: 0 0 0 0;
}
ul.square_seccion2 {
  list-style-type: square;
  list-style-position: inside;
  color: #DD3B02;
  padding-left: 50px;
}
ul.square_seccion3 {
  list-style-type: square;
  list-style-position: inside;
  color: #DD3B02;
  padding-left: 70px;
}
.seccion {
  color: #DD3B02;
  FONT-SIZE: 1.3em;
  line-height: 150%;
}
.seccion2 {
  color: #DD3B02;
  FONT-SIZE: 1.2em;
  line-height: 150%;
}
.seccion3 {
  color: #DD3B02;
  FONT-SIZE: 1.1em;
  line-height: 150%;
}
.seccion:hover {
  color: #0F3852;
  text-decoration: none;
}
.seccion2:hover {
  color: #0F3852;
  text-decoration: none;
}
.seccion3:hover {
  color: #0F3852;
  text-decoration: none;
}
html {
  background-color: #FFFFFF;
}
a img {
  border: medium none;
}
a {
  color: #543342;
  text-decoration: none;
}
a:hover {
  /*color: #DD3B15;*/
}
a, a:hover, a:visited, a:active {
  outline: medium none;
}
ol, ul {
  list-style-position: inside;
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
}


div.mod-forms div.forms_big fieldset {
  width: 510px;
}
div.borde-exterior {
  background-image: url("/img/interior/cabecera-nivel1_fondo.png");
  background-repeat: repeat-x;
  height: 12px;
  width: 519px;
}
div.borde-ficha {
  background-image: url("/img/interior/cabecera-nivel1_fondo.png");
  background-repeat: repeat-x;
  height: 12px;
  width: 529px;
}
.fields td {
  width: 70%;
}
.fields td.titulo {
  width: 30%;
}

div.file img {
  margin-right: 5px;
  margin-top: 0;
  width: auto;
}
div.genericfield div.file {
  float: left;
  padding-left: 22px;
}


/*********************/


/****** index ********/


/*********************/
