
/*mapa web??*/
html {
  background-color: #FFFFFF;
}
a img {
  border: medium none;
}
a {
  color: #543342;
  text-decoration: none;
}
a:hover {
  /*color: #DD3B15;*/
}
a, a:hover, a:visited, a:active {
  outline: medium none;
}
ol, ul {
  list-style-position: inside;
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
}
