# Directorio instalación módulos
node_modules

# Directorio resultado test cobertura
coverage

# Directorio de librerías instaladas con Bower
public/lib

# Directorios de archivos binarios
imagenes img doc graph

# Logs y copias de seguridad
*.log
*~
*.out
