<div id="contenido" class="sec_interior">
    <div class="content_doku">
        <!-- Calendar Scripts -->
        <script type='text/javascript'  src='/lib/moment/min/moment.min.js'></script>	
        <script type='text/javascript' src='/lib/fullcalendar/dist/fullcalendar.min.js'></script>
        <script type='text/javascript', src='/lib/fullcalendar/dist/gcal.js'></script>
        <script type='text/javascript' src='/script/calendario.js'></script>


        {{!TODO}}
    </div>
</div>
