<div id="calendar"></div>
<div id="general_calendario">
    <div id="calendario">
        <h1 id="titulo_pagina">
            <span class="texto_titulo"><%=seccion%></span>
        </h1>
        <div id="contenido" class="sec_interior">
            <div class="content_doku">
                <ul class="enlaces">
                    <li class="level1">
                        <div class="li">
                            <a class="enlaces-cabecera" href="<%=enlace%>">Volver a Información Institucional</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>