<div id="calendar"></div>

<div id="general_calendario">
    <div id="contenido" class="sec_interior">
        <div class="content_doku">
            <ul class="enlaces">
                <li class="level1">
                    <div class="li">
                        <a class="enlaces-cabecera" href="<%=enlace%>">Volver a Información Institucional</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
