doctype html
html
	head
		meta(charset='utf-8')
		link(href='lib/fullcalendar/dist/fullcalendar.css', rel='stylesheet')
		link(href='lib/fullcalendar/dist/fullcalendar.print.css', rel='stylesheet', media='print')
		link(rel="stylesheet", id="css-style2", type="text/css", href="css/style2.css", media="all")
		script(src='lib/moment/min/moment.min.js')
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='lib/fullcalendar/dist/fullcalendar.min.js')
		script(src='lib/fullcalendar/dist/gcal.js')
		script(src='script/calendario.js')

	body
		#calendar
