extends layout

block content
	#calendar

	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first #{seccion}
	#general_calendario
		#calendario
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku

				ul.enlaces
					li.level1
						.li
							a(class="enlaces-cabecera" href="#{enlace}") Volver a Información Institucional
