extends layout
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first #{titulo}
	#general
		+ menu("")
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{titulo}

			div(id="contenido", class="sec_interior")
				.content_doku
					p #{texto}
