extends layout
include tablas.jade
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first Gestión e Investigación / #{seccion}
	#general
		+ menu("Gobierno")
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku

					ul.enlaces
						li.level1
							each valor in contenido
								.li
									a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}

					+ generar_tablas(contenido)
