<div id="contenido" class="sec_interior">
    <div class="content_doku">
        <%for(i in enlaces){%>
            <%var enlace=enlaces[i]%>
            <a href="/<%=enlace.link%>" class="enlaces_index">
                <div id="<%=enlace.id%>"><%=enlace.nombre%></div>
            </a>
            <%}%>
    </div>
</div>
