<h1 id="titulo_pagina">
    <span class="texto_titulo">{{seccion}}</span>
</h1>
<div id="contenido" class="sec_interior">
    <div class="content_doku">
        {{#each enlaces}}
            <a href="/{{link}}" class="enlaces_index">
                <div id="{{id}}"> {{nombre}}</div>
            </a>
        {{~/each}}        
    </div>
</div>
