<div id="contenido" class="sec-interior">
    <div class="content_doku">
        <%for(i in enlaces){%>
            <%var enlace=enlaces[i]%>
            <a href="/<%=enlace.link%>" class="enlace_index">
                <div id="<%=enlace.id%>"><%=enlace.nombre%></div>
            </a>
        <%}%>
    </div>
</div>