<div id="contenido" class="sec-interior">
    <div class="content_doku">
        <%for(var i in contenido){
            var elem=contenido[i];
            %>
        <h1>
            <a class="sec-header"><%=elem.titulo%></a>
        </h1>
        <ul class="enlaces">
            <li class="level1">
                <% for(var j in elem.lista){
                        var elem2=elem.lista[j];
                        %>
                <div class="li">
                    <a class="enlaces-indice-level1" href="<%=elem2.link%>" ,target="_blank"><%=elem2.item%></a>
                </div>
            <%}%>
        </li>
    </ul>
<%}%>
</div>
</div>
