//
	UGR Transparente. Sitio Web de la Universidad de Granada de acceso a Datos Abiertos.
	Copyright (C) 2015 Germán Martínez Maldonado

	This file is part of UGR Transparente.

	UGR Transparente is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	UGR Transparente is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.


doctype html

html(lang="es")
	head
		title UGR Transparente | Universidad de Granada
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="description", content="Universidad de Granada - UGR transparente")
		meta(name="keywords", content="universidad, Granada, UGR transparente, ley de transparencia")
		link(rel="shortcut icon", href="/img/general/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="icon", href="/img/general/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="stylesheet", id="css-style2", type="text/css", href="css/styleCalendar.css", media="all")
		link(href='lib/fullcalendar/dist/fullcalendar.css', rel='stylesheet')
		link(href='lib/fullcalendar/dist/fullcalendar.print.css', rel='stylesheet', media='print')
		script(src='lib/moment/min/moment.min.js')
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='lib/fullcalendar/dist/fullcalendar.min.js')
		script(src='lib/fullcalendar/dist/gcal.js')
		script(src='script/calendario.js')
		script(src="lib/underscore/underscore-min.js")

	body
		noscript
			p(class="jsDisabled")
				| Esta página requiere funcionalidades JavaScript. Por favor,
				a(href = "http://www.enable-javascript.com/es/" target="_blank")  habilítelo
				|  para una correcta visualización.

		block content
		#interior_pie
			#pie
				a(id="WAI", href="http://www.w3.org/WAI/WCAG2AA-Conformance")
					img(src="imagenes/wcag2aa.gif", id="wcag2aa", alt="wcag2aa", longdesc="http://www.w3.org/WAI/WCAG2AA-Conformance")
				//-a(href="mapaweb.html") Mapa del sitio
				span.separador_enlaces |
				a(href="https://github.com/oslugr/ugr-transparente-servidor") Este servidor es software libre
				span.separador_enlaces |
				a(href="http://www.gnu.org/licenses/gpl-3.0.html") Liberado bajo GPL v3.0
				span.separador_enlaces  |
				a(class="contactar", href="http://www.ugr.es/pages/contacto", target="_blank") Contacto
				span.separador_enlaces |
				a(href="https://github.com/oslugr/ugr-transparente-servidor/issues", target="_blank") Ir a sugerencias
				//span.separador_enlaces  |
				//a(class="validador", href="#") Accesibilidad
				//span.separador_enlaces  |
				//a(class="privacidad", href="#") Política de privacidad
				p
					a(href="http://www.ugr.es/pages/creditos") &copy; 2015
					span.separador_enlaces |
					a(href="http://www.ugr.es")  Universidad de Granada
