<div id="contenido">
    <ul class="square_seccion">
        {{#each secciones}}
            <li>
                <a class="seccion" {{{linkOrNull enlace}}}>{{nombre}}</a></li>
        {{~/each}}    
    </ul>
</div>
