extends layout
include tablas.jade
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first Administración / #{seccion}
	#general
		+ menu("Perfil del Contratante")
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku

					p
						| <strong>Acceso al Perfil del Contratante</strong>

					p
						| La Universidad de Granada, a través de su&nbsp;
						a(href="http://econtra.ugr.es/licitacion", target="_blank") perfil del contratante

						|  pone a disposición de todos los interesados información sobre los procedimientos de licitación.
