//
	Portal web transparente.ugr.es para publicar datos de la Universidad de Granada
	Copyright (C) 2014  Jaime Torres Benavente

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.


extends layout

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first Administración / #{seccion}
	#general
		#menus
			- var mode1 = "tipo2 item-first_level"
			- var mode2 = "tipo2 item-first_level"
			- var mode3 = "selected tipo2-selected item-first_level"
			- var mode4 = "tipo2 item-first_level"
			- var mode5 = "tipo2 item-first_level"
			- var mode6 = "tipo2 item-first_level"
			- var mode7 = "tipo2 item-first_level"
			- var submenu1_display = ""
			- var submenu2_display = "display:none;"
			- var submenu3_display = "display:none;"
			- var item1_selected = "tipo1"
			- var item2_selected = "tipo1"
			- var item3_selected = "tipo1"
			- var item4_selected = "tipo1-selected"

			- var item5_selected = "tipo1"
			- var item6_selected = "tipo1"
			- var item7_selected = "tipo1"

			- var item8_selected = "tipo1"
			- var item9_selected = "tipo1"
			- var item10_selected = "tipo1"
			- var item11_selected = "tipo1"
			include ./plantillaMenus.jade
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku

					p
						| <strong>Acceso al Perfil del Contratante</strong>

					p
						| La Universidad de Granada, a través de su&nbsp;
						a(href="http://econtra.ugr.es/licitacion", target="_blank") perfil del contratante

						|  pone a disposición de todos los interesados información sobre los procedimientos de licitación.
