<div id="contenido" class="sec-interior">
    <div class="content_doku">
        <p>
            <strong>Acceso al Perfil del Contratante</strong>
        </p>
        <p>La Universidad de Granada, a través de su
            <a href="http://econtra.ugr.es/licitacion" target="_blank">perfil del contratante</a>
            pone a disposición de todos los interesados información sobre los procedimientos de licitación.</p>
    </div>
</div>