//
	Portal web transparente.ugr.es para publicar datos de la Universidad de Granada
	Copyright (C) 2014  Jaime Torres Benavente

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.


extends layout

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					a(class="first", href="/presentacion.html") #{titulo}
	#general
		#menus
			- var mode1 = "tipo2 item-first_level"
			- var mode2 = "selected tipo2-selected item-first_level"
			- var mode3 = "tipo2 item-first_level"
			- var mode4 = "tipo2 item-first_level"
			- var mode5 = "tipo2 item-first_level"
			- var mode6 = "tipo2 item-first_level"
			- var mode7 = "tipo2 item-first_level"
			- var submenu1_display = "display:none;"
			- var submenu2_display = "display:none;"
			- var submenu3_display = "display:none;"
			- var item1_selected = "tipo1"
			- var item2_selected = "tipo1"
			- var item3_selected = "tipo1"
			- var item4_selected = "tipo1"

			- var item5_selected = "tipo1"
			- var item6_selected = "tipo1"
			- var item7_selected = "tipo1"

			- var item8_selected = "tipo1"
			- var item9_selected = "tipo1"
			- var item10_selected = "tipo1"
			- var item11_selected = "tipo1"
			include ./plantilla_menus.jade
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{titulo}

			div(id="contenido", class="sec_interior")
				.content_doku
					p
						strong Bienvenidos al sitio Web de la Universidad de Granada de acceso a Datos Abiertos.

					p.
						Nuestra Universidad, comprometida con la transparencia y consciente de la responsabilidad que tiene de ofrecer información veraz para el colectivo de la sociedad en general y en particular a la Comunidad Universitaria, pone a su disposición el portal UGR Transparente, que tiene como objetivo ofrecer acceso a la información, garantizando a su vez la veracidad de la misma, el libre acceso y la interoperabilidad de los datos.

					p.
						Este portal nace con el objeto de ser algo más que un tablón de información. Su meta es convertirse en un conjunto de herramientas accesibles, simples de utilizar e inteligibles, puestas a disposición de la Comunidad Universitaria y que sean útiles para todos aquellos procesos relacionados con la transparencia y con la demanda de información por parte de los ciudadanos.

					p
						a(href="http://www.ugr.es/pages/gobierno/rector-magnifico-de-la-universidad-de-granada" title="gobierno/rector-magnifico-de-la-universidad-de-granada") Francisco González Lodeiro
						| &nbspRector
