<div id="contenido" class="sec_interior">
    <div class="content_doku">
        <p><strong>Solicitud de información a la Universidad de Granada, al amparo de la <a href="http://www.boe.es/boe/dias/2013/12/10/pdfs/BOE-A-2013-12887.pdf" target="_blank">Ley 19/2013, de 9 de diciembre, de transparencia, acceso a la información pública y buen gobierno.</a></strong></p>

        <p>Para ejercer su derecho a la información pública, los usuarios pueden tramitar sus solicitudes -identificándose mediante <a href="https://www.sede.fnmt.gob.es/certificados/persona-fisica/obtener-certificado-software;jsessionid=397F5573B75B480CC39C10C33187D5E5.nodo2"
                target="_blank">certificado electrónico</a>- en <a href="https://sede.ugr.es/sede/catalogo-de-procedimientos/solicitud-generica.html" target="_blank">este formulario</a>. Los miembros de la Comunidad Universitaria podrán, alternativamente,
            hacer uso de sus credenciales de Acceso Identificado.</p>
        <p>La solicitud debe contener en el apartado "Exposición de hechos" únicamente este texto:</p>
        <p id="parrafo"><em>Esta petición supone un ejercicio del derecho de acceso a información pública al amparo de la Ley 19/2013, de 9 de diciembre, de transparencia, acceso a la información pública y buen gobierno.</em></p>

        <a href="https://sede.ugr.es/sede/catalogo-de-procedimientos/solicitud-generica.html" target="_blank" class="botonFormulario">Acceso al Formulario</a>
    </div>
</div>
