<div id="rastro-idiomas">
    <div id="rastro">
        <ul id="rastro_breadcrumb">
            <li class="first"><span class="first">{{{breadcrumbText seccion}}}</span></li>
        </ul>
    </div>
</div>
